#section-class{
    /* height: 615px; */
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
#cal-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3ecff;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 3px 7px;
    border: 2px solid #444883;
    
}
#cal-form:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

#display-box{
    width: 90%;
    padding-left: 10px;
    height: 75px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #f0edf7;
    font-size: larger;
    border: 1.8px solid #1e1c62;
    font-size: 25px;

}
#display-box:focus{
    background-color: #e6e3ec;
    outline: none;
    border: 2px solid #302d99;
    color: #1e1c62;
}

#display-box::placeholder{
    font-size: 25px;
    color: #8c8c9c;

}

#btn-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    gap:6px ;
    width: 93%;
    padding-top: 25px;
    padding-bottom: 15px;
    
}
.btn{
        width: 100%;
        height: 70px;
        font-size: 1.3rem;
        background-color: #f1f1f8;
        border: 1.8px solid #87758f;
        border-radius: 8px;
        color: #302d99;
        transition-duration: 0.2s ease;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
}
.btn:hover{
    
        background-color: #d8d9e6;
        border: 1.7px solid #7a7997e7;
        color: #19005e;
        transform: translateY(-2px);

}
.op{
    /* width: 30%; */
    grid-column :span 2;
}
#equal{
grid-column: span 4;

}
#clear:hover{
    color: rgb(196, 0, 0);
}
.fa-calculator{
    color: #4f405e;
    font-size: 29px;
    opacity: 0.6;
    display: flex;
    position: absolute;
    top: 175px;
    right: 410px;
}


.delete {
  position: absolute;
  top: 25px;
  right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #4f405e;
}
.delete:hover{
    color: rgb(196, 0, 0);
}

.style{
    background-color: rgba(149, 148, 180, 0.35);
}

@media (max-width: 768px) {
    #cal-form {
        width: 280px;
        padding: 2px 5px;
    }
    #display-box {
        font-size: 20px;
        height: 60px;
    }
    #btn-box {
        padding-top: 25px;
        gap: 4px;
        grid-template-columns: repeat(4, 1fr);
    }
    .btn {
        height: 50px;
        font-size: 1rem;
    }
    .fa-calculator {
        right: 10px;
        top: 5px;
        font-size: 22px;
    }
    /* .delete {
        top: 45px;
        right: 10px;
        width: 35px;
        height: 25px;
    }
    .fa-delete-left{
        font-size: 21.7px;
        position: absolute;
        left: -39px;
        top: 205px;
    } */
    #clear:hover{
    color: rgb(196, 0, 0);
    }
    .delete:hover{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(190, 0, 0);
    }
    .btn:hover{
    
    background-color: #d2d3db;
        border: 1.7px solid #7a7997e7;
        color: #19005e;
    
    }
}


