#section-class{
    /* height: 615px; */
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
#cal-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8d9f1;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 3px 7px;
    border: 2px solid #444883;
    
}
#display-box{
    width: 90%;
    padding-left: 10px;
    height: 75px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #f0edf7;
    font-size: larger;
    border: 1.8px solid #444883;
    font-size: 25px;

}
#display-box:focus{
    background-color: #e6e3ec;
    outline: none;
    border: 2px solid #444883;
    color: #1e1c62;
}

#display-box::placeholder{
    font-size: 25px;
}

#btn-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* flex-wrap: wrap; */
    gap:5px ;
    /* justify-content: space-evenly; */

    width: 93%;
    /* max-width: 400px; */
    /* height: max-content; */
    padding-top: 70px;
    padding-bottom: 15px;
    
}
.btn{
        width: 100%;
        height: 70px;
        font-size: 1.3rem;
        background-color: #e9e9ee;
        border: 1.8px solid #87758f;
        border-radius: 5px;
        color: #302d99;
        transition-duration: 0.1s;
        box-sizing: border-box;
}
.btn:hover{
    
    background-color: #d2d3db;
        border: 1.7px solid #7a7997e7;
        color: #19005e;
    
}
.op{
    /* width: 30%; */
    grid-column :span 2;
}
#clear:hover{
    color: rgb(196, 0, 0);
}
.fa-calculator{
    color: #4f405e;
    font-size: 29px;
    opacity: 0.6;
    display: flex;
    position: absolute;
    top: 175px;
    right: 410px;
}

.delete{
    width: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 56px;
    right: 497px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    opacity: 0.8;
}
.delete:hover{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(190, 0, 0);
}

.fa-delete-left{
    font-size: 25px;
}
.style{
    background-color: #9594b459;
}

@media (max-width: 768px) {
    #cal-form {
        width: 280px;
        padding: 2px 5px;
    }
    #display-box {
        font-size: 20px;
        height: 60px;
    }
    #btn-box {
        padding-top: 40px;
        gap: 3px;
        grid-template-columns: repeat(4, 1fr);
    }
    .btn {
        height: 50px;
        font-size: 1rem;
    }
    .fa-calculator {
        right: 10px;
        top: 5px;
        font-size: 22px;
    }
    .delete {
        top: 45px;
        right: 10px;
        width: 35px;
        height: 25px;
    }
    .fa-delete-left{
        font-size: 21.7px;
        position: absolute;
        left: -39px;
        top: 205px;
    }
    #clear:hover{
    color: rgb(196, 0, 0);
    }
    .delete:hover{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(190, 0, 0);
    }
    .btn:hover{
    
    background-color: #d2d3db;
        border: 1.7px solid #7a7997e7;
        color: #19005e;
    
    }
}


